<% layout('layout/boilerplate')%>
<div class="row">
  <h1 class="text-center">Yemeği düzenle</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/foods/<%=food._id%>?_method=PUT"
      method="POST"
      novalidate
      class="form-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Başlık</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="food[title]"
          value="<%=food.title %>"
          required
        />
        <div class="valid-feedback">doğru!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Şehir</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="food[location]"
          value="<%=food.location %>"
          required
        />
        <div class="valid-feedback">doğru!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Fiyat</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">₺</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="food[price]"
            value="<%=+food.price %>"
            required
          />
          <div class="valid-feedback">doğru!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Açıklama</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="food[description]"
          required
        >
<%= food.description%></textarea
        >
        <div class="valid-feedback">doğru!</div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input"
            id="photo"
            name="photo"
            multiple
          />
          <label class="form-file-label" for="photo">
            <span class="form-file-text custom-file-label"
              >Daha fazla resim yükle</span
            >
            <span class="form-file-button">Yükle</span>
          </label>
        </div>
        <div class="file-validation"></div>
      </div>
      <div class="mb-3">
        <% food.images.forEach(function(image, index) { %>
        <img src="<%=image.smallSize %>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=index%>"
            name="images[]"
            value="<%=image.filename%>"
          />
        </div>
        <label for="image-<%=image%>">Sil</label>
        <% })%>
      </div>
      <div class="mb-3">
        <button class="btn btn-dark">Yemeği güncelle</button>
      </div>
    </form>
    <a href="/foods/<%= food._id%>">Geri dön</a>
  </div>
</div>

<script src="/js/fileValidation.js"></script>
