<% layout('layout/boilerplate')%>
<div class="row">
  <h1 class="text-center">Edit Food</h1>
  <div class="col-6 offset-3">
    <form
      action="/foods/<%=food._id%>?_method=PUT"
      method="POST"
      novalidate
      class="form-validation"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Food Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="food[title]"
          value="<%=food.title %>"
          required
        />
        <div class="valid-feedback">fine!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Food Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="food[location]"
          value="<%=food.location %>"
          required
        />
        <div class="valid-feedback">fine!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="food[image]"
          value="<%=food.image %>"
          required
        />
        <div class="valid-feedback">fine!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Food Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="food[price]"
            value="<%=+food.price %>"
            required
          />
          <div class="valid-feedback">fine!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="food[description]"
          required
        >
<%= food.description%></textarea
        >
        <div class="valid-feedback">fine!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-dark">Update Food</button>
      </div>
    </form>
    <a href="/foods/<%= food._id%>">Back To Food</a>
  </div>
</div>
