<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/style/rating.css" />

<div class="row">
  <div class="col-6">
    <div id="foodCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% food.images.forEach((image, i) => { %>
        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
          <img
            crossorigin="anonymous"
            src="<%= image.url%>"
            class="d-block w-100"
            alt=""
          />
        </div>
        <% }) %>
      </div>
      <% if(food.images.length > 1) {%>
      <a
        class="carousel-control-prev"
        href="#foodCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#foodCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <% } %>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= food.title%></h5>
        <p class="card-text"><%= food.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= food.location%></li>
        <li class="list-group-item">
          <%= food.owner.username%> tarafından eklendi
        </li>
        <li class="list-group-item">₺<%= food.price%>/porsiyon</li>
      </ul>
      <% if( user && food.owner.equals(user._id)){ %>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/foods/<%=food._id%>/edit"
          >Düzenle</a
        >
        <form
          class="d-inline"
          action="/foods/<%=food._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Sil</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 gün önce</div>
    </div>
  </div>
  <div class="col-6">
    <div id="map" class="mb-3" style="width: 100%; height: 300px"></div>
    <% if(user){ %>
    <h3 class="text-center mb-3">Yorum bırak</h3>
    <form
      action="/foods/<%=food._id%>/comments"
      method="POST"
      class="mb-3 form-validation"
      novalidate
    >
      <div class="mb-3">
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="comment[rating]"
            value="0"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="comment[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="comment[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="comment[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="comment[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="comment[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Görüşün:</label>
        <textarea
          class="form-control"
          name="comment[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Doğru!</div>
      </div>
      <button class="btn btn-secondary">Ekle</button>
    </form>
    <% } %> <% for(let comment of food.comments) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          <%= comment.owner.username%> tarafından
        </h6>
        <p class="starability-result" data-rating="<%=comment.rating%>">
          Puan: <%= comment.rating %> stars
        </p>
        <p class="card-text">
          <span class="font-weight-bold">Yorum: </span><%= comment.body %>
        </p>
        <% if( user && comment.owner.equals(user._id)) {%>
        <form
          action="/foods/<%=food._id%>/comments/<%=comment._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Sil</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>
  const mapApi = '<%-process.env.MAP_API%>';
  // // prettier-ignore
  //nolint:gosec
  const food = <%- JSON.stringify(food) %>;
</script>

<script type="text/javascript" src="/js/handleMap.js"></script>
