<% layout('layout/boilerplate')%>

<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= food.image%>" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title"><%= food.title%></h5>
        <p class="card-text"><%= food.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= food.location%></li>
        <li class="list-group-item">$<%= food.price%>/night</li>
      </ul>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/foods/<%=food._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/foods/<%=food._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <h3 class="text-center mb-3">Leave a Comment</h3>
    <form
      action="/foods/<%=food._id%>/comments"
      method="POST"
      class="mb-3 form-validation"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="rating">Your Rating:</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="10"
          name="comment[rating]"
          id="rating"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Your Opinion:</label>
        <textarea
          class="form-control"
          name="comment[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">fine!</div>
      </div>
      <button class="btn btn-secondary">Send</button>
    </form>
    <% for(let comment of food.comments) { %>
    <div class="card mb-3">
      <div class="card-body rounded border border-primary">
        <h5 class="card-title">
          <span class="font-italic">Rating: </span><%= comment.rating %>/10
        </h5>
        <p class="card-text">
          <span class="font-weight-bold">Comment: </span><%= comment.body %>
        </p>
        <form
          action="/foods/<%=food._id%>/comments/<%=comment._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
