<% layout('layout/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= food.image%>" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title"><%= food.title%></h5>
        <p class="card-text"><%= food.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= food.location%></li>
        <li class="list-group-item">$<%= food.price%>/portion</li>
      </ul>
      <div class="card-body">
        <a class="card-link btn btn-dark" href="/foods/<%=food._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/foods/<%=food._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
